<div class="container-fluid">
  <%= image_tag ("/assets/ruby.jpeg"), class: "img-fluid"%>
  <div class="row index">
    <h2 class="btn btn-info disabled" style="margin-left:20px">Articles</h2>
  </div>
  <div class="row article-link">
    <%= link_to 'Create Article',new_article_url, class: "btn btn-success"%>
  </div>
  <div class="row">
    <table class="table table-responsive table-striped table-bordered">
      <thead    
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody> 
        <% @articles.each do |article| %>
          <tr>
            <td class="title">
              <%= link_to article.name, article_path(article) %>
            </td>
            <td><%= article.description %></td>
            <td><%= article.category_id %></td>
            <td>
              <%= link_to 'Show', article_path(article), class: "btn btn-success" %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
              <%= link_to 'Destroy', delete_article_path(article),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal', class: 'btn btn-danger btn-lg'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete this article?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

